{
  "parser": "babel-eslint",
  "env":{
    "node": true,
    "browser": true,
    "es6": true
  },
  "ecmaFeatures":{
    "jsx": true,
  },
  "plugins":[
    "react"
  ],
  "rules":{
    "strict": 0,
    "new-cap": 0,
    "comma-spacing": [2, {"before": false, "after": true}],
    "no-unused-vars": 1,
    "no-constant-condition": 0,
    "no-shadow": 0,
    "no-loop-func": 0,
    "curly": 0
  }
}
