extends layout

block scripts
  script(src="/socket.io/socket.io.js")
  script(src="/js/index.coffee" type="text/coffeescript")

block content
  h1= title
  p
    input(type="text" value="NoName")
    input(type="text" value="hello!!" size=40)
    input(type="button" value="send")
  ul#logs
