extends layout

block scripts
  script(src="/socket.io/socket.io.js")
  script(src="/js/index.coffee" type="text/coffeescript")

block content
  h1= title
  p
    input(type="text" value="NoName" id="input_name")
    input(type="text" value="hello!!" size=40 id="input_message")
    input(type="button" value="send" id="btn_send")
  ul#logs
    - for msg in chat.messages
      li= msg.from+" : "+msg.body
